<h1>Listing all Articles </h1>
<%= link_to "Add New Article", new_article_path %>
<hr>
<table border="1">
    <thead>
        <tr>
            <th>Title</th>
            <th>Text</th>
            <th colspan="3">Action</th>
        </tr>
    </thead>
    <tbody>
        <% @articles.each do |article| %>
            <tr>
                <td><%= article.title %></td>
                <td><%= article.text %></td>
                <td><%= link_to "Show",article_path(article) %></td>
                <td><%= link_to "Edit",edit_article_path(article) %></td>
                <td><%= link_to 'Delete', article_path(article),
                method: :delete , data: { confirm: 'Are you sure?'} %></td>
            </tr>
        <% end %>
    <tbody>
</table>

<%# From helper class %>
<%# <%= total_count(@articles) %>
<br>
<%# <%= my_name %> 
<%# helper class end %>