<h1>
Title : <%= @article.title %>
</h1>

<p>
<strong>Text : </strong>
<%= @article.text %>
</p>
<hr>
<h2>Comments</h2>
<%= render 'articles/comments/comments' %>
<hr>
<h2>Add a comment: </h2>
<%= render 'articles/comments/form' %>

<hr>
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Delete', article_path(@article),
                method: :delete , data: { confirm: 'Are you sure?'} %> |
<%= link_to "Back",articles_path %>